<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="cn">
    <meta charset="UTF-8">
    <title>局域网文件传输服务器</title>
</head>
<body>
    <h1>局域网文件传输服务器</h1> <a href="/localfts">返回首页</a>
    <hr>
    <br>当前路径：<span name="page-path" th:text="${ftsPage.path}">path</span><br><br>
    <table style="text-align: left">
        <tr>
            <th>文件名</th>
            <th>类型</th>
            <th>大小</th>
            <th>操作</th>
        </tr>
        <tr>
            <td><a name="up-path">..</a></td>
            <td></td>
            <td></td>
        </tr>
        <div th:each="item:${ftsPage.fileList}">
            <tr th:if="${item.directory}">
                <td><a name="directory-path" th:text="${item.fileName}">directory name</a></td>
                <td>文件夹</td>
                <td>-</td>
            </tr>
            <tr th:if="!${item.directory}">
                <td th:text="${item.fileName}">fileName</td>
                <td>文件</td>
                <td th:text="${item.fileSize}"></td>
                <td><a name="download-file" th:href="${item.fileName}">下载</a></td>
            </tr>
        </div>
    </table>
    <br>

    <p>
        第<span name="current-page" th:text="${ftsPage.currentPage}">page no</span>页 <span name="current-size" th:text="${ftsPage.currentSize}">page size</span>条
        总<span name="total-page" th:text="${ftsPage.totalPage}">total page</span>页 <span name="total-size" th:text="${ftsPage.totalSize}">total size</span>条
    </p>

    <a name="first-page">首页</a>
    <a name="previous-page">上一页</a>
    <a name="next-page">下一页</a>
    <a name="last-page">尾页</a>

    <form th:action="@{'/list'}" enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="page-size" disabled="disabled" th:value="${ftsPage.pageSize}">
        <input type="hidden" name="path" th:value="${ftsPage.path}">
        <input type="text" size="2" name="pageNo" th:value="${ftsPage.currentPage}">
        <select name="pageSize">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
        </select>
        <input type="submit" value="跳转">
    </form>
    <script type="text/javascript">
        const URL_LIST = "/localfts/list";
        const URL_DOWNLOAD = "/localfts/downloadFile";

        main();

        function main()
        {
            const ftsPagePath = document.getElementsByName("page-path")[0].textContent;
            const ftsPageNo = Number.parseInt(document.getElementsByName("pageNo")[0].value);
            const ftsPageSize = Number.parseInt(document.getElementsByName("page-size")[0].value);
            const ftsPageCurrentPage = Number.parseInt(document.getElementsByName("current-page")[0].textContent);
            const ftsPageCurrentSize = Number.parseInt(document.getElementsByName("current-size")[0].textContent);
            const ftsPageTotalPage = Number.parseInt(document.getElementsByName("total-page")[0].textContent);
            const ftsPageTotalSize = Number.parseInt(document.getElementsByName("total-size")[0].textContent);

            //deal with up-path
            //   /->/   ;   /a->/   ;   /a/b->/a
            var upPath = ftsPagePath;
            var lastIdxOfSlash = upPath.lastIndexOf("/");
            if(lastIdxOfSlash == 0) {
                upPath = "/";
            } else {
                upPath = upPath.substring(0, lastIdxOfSlash);
            }
            upPath = concatUrlList(upPath, 1, ftsPageSize);
            document.getElementsByName("up-path")[0].setAttribute("href", upPath);

            //deal with directory-path
            var directoryPaths = document.getElementsByName("directory-path");
            for(var i=0;i<directoryPaths.length;i++) {
                directoryPaths[i].setAttribute("href", concatUrlList(ftsPagePath + ((ftsPagePath == "/") ? "" : "/") + directoryPaths[i].textContent, 1, ftsPageSize));
            }

            //deal with download-file
            var downloadFiles = document.getElementsByName("download-file");
            for(var i=0;i<downloadFiles.length;i++) {
                downloadFiles[i].setAttribute("href", concatUrlDownload(ftsPagePath + ((ftsPagePath == "/") ? "" : "/") + downloadFiles[i].getAttribute("href")));
            }

            //deal with first-page,previous-page,next-page,last-page
            const firstPageNo = 1;
            const lastPageNo = (ftsPageTotalPage == 0) ? 1 : ftsPageTotalPage;
            const previousPageNo = (ftsPageCurrentPage > 1) ? (ftsPageCurrentPage - 1) : 1;
            const nextPageNo = (ftsPageCurrentPage < lastPageNo) ? (ftsPageCurrentPage + 1) : lastPageNo;
            const firstPageUrl = concatUrlList(ftsPagePath, firstPageNo, ftsPageSize);
            const lastPageUrl = concatUrlList(ftsPagePath, lastPageNo, ftsPageSize);
            const previousPageUrl = concatUrlList(ftsPagePath, previousPageNo, ftsPageSize);
            const nextPageUrl = concatUrlList(ftsPagePath, nextPageNo, ftsPageSize);
            document.getElementsByName("first-page")[0].setAttribute("href", firstPageUrl);
            document.getElementsByName("last-page")[0].setAttribute("href", lastPageUrl);
            document.getElementsByName("previous-page")[0].setAttribute("href", previousPageUrl);
            document.getElementsByName("next-page")[0].setAttribute("href", nextPageUrl);

            //deal with page-size
            var tagSelectOptions = document.getElementsByName("pageSize")[0].children;
            var foundOption = false;
            for(var i=0;i<tagSelectOptions.length;i++) {
                if(tagSelectOptions[i].value == ftsPageSize) {
                    foundOption = true;
                    tagSelectOptions[i].setAttribute("selected", "selected");
                    break;
                }
            }
            if(!foundOption) {
                tagSelectOptions[0].setAttribute("selected", "selected");
            }
            
        }

        function concatUrlList(path, pageNo, pageSize) {
            return URL_LIST + "?path=" + encodeURIComponent(path) + "&pageNo=" + pageNo + "&pageSize=" + pageSize;
        }
        function concatUrlDownload(fileName) {
            return URL_DOWNLOAD + "?fileName=" + encodeURIComponent(fileName);
        }
    </script>
</body>
</html>