<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="cn">
    <meta charset="UTF-8">
    <title>局域网文件传输服务器</title>
    <style>
        .hidden {
            display:none;
        }
        .show {
           width:70%;height:auto;margin:5em 15% auto 15%;
           background-color:white;
           border-style:solid;border-width:0.05em;
        }
        table,th,td {
            border-style:solid;
            border-collapse:collapse;
            border-color:black;
        }
        table {
            border-width:0.1em;
        }
        th,td {
            border-width:0.05em;
        }
    </style>
</head>
<body>
    <h1>局域网文件传输服务器</h1><button id="serverIpInfoShowButton" onclick="document.getElementById('serverIpInfo').setAttribute('class','show')">服务器网络信息</button>
    <hr>
    <br>当前路径：<span id="page-path" th:text="${ftsPage.path}">path</span><a style="margin-left:2em" href="/localfts">返回首页</a><br><br>
    <div id="serverIpInfo" class="hidden" style="position:absolute;left:0em;top:0em">
        <div style="text-align:center;padding-bottom:1em;padding-top:1em;font-size:1.5em;font-style:bold">服务器网络信息</div>
        <table style="width:90%;margin-left:auto;margin-right:auto;text-align:center;">
            <tr>
                <th style="padding-left:2em;padding-right:2em">网卡显示名称</th>
                <th style="padding-left:2em;padding-right:2em">网卡名称</th>
                <th style="padding-left:2em;padding-right:2em">Ipv4地址</th>
            </tr>
            <tbody th:each="item:${serverIpInfo.items}">
            <tr>
                <td th:text="${item.displayName}">displayName</td>
                <td th:text="${item.name}">name</td>
                <td th:text="${{item.addresses}}">addresses</td>
            </tr>
            </tbody>
        </table>
        <div style="padding-bottom:1em;padding-top:5em;"><button id="serverIpInfoHideButton" onclick="document.getElementById('serverIpInfo').setAttribute('class','hidden')" style="display:block;margin-left:auto;margin-right:auto;text-align:center;font-size:1em;">确定</button></div>
    </div>
    <table style="text-align:left;border-style:solid;width:80%">
        <tr>
            <th style="width:70%">文件名</th>
            <th style="width:10%">类型</th>
            <th style="width:10%">大小</th>
            <th style="width:10%">操作</th>
        </tr>
        <tr>
            <td><a id="up-path">返回上一级</a></td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tbody th:each="item:${ftsPage.fileList}">
            <tr th:if="${item.directory}">
                <td><a name="directory-path" th:text="${item.fileName}">directory name</a></td>
                <td>文件夹</td>
                <td>-</td>
                <td><a name="upload-file" th:text="${item.fileName}">上传文件</a></td>
            </tr>
            <tr th:if="!${item.directory}">
                <td th:text="${item.fileName}">fileName</td>
                <td>文件</td>
                <td th:text="${item.fileSizeStr}">0</td>
                <td><a name="download-file" th:text="${item.fileName}">下载文件</a></td>
            </tr>
        </tbody>
    </table>
    <br>

    <p>
        第<span id="current-page" th:text="${ftsPage.currentPage}">page no</span>页 <span id="current-size" th:text="${ftsPage.currentSize}">page size</span>条
        总<span id="total-page" th:text="${ftsPage.totalPage}">total page</span>页 <span id="total-size" th:text="${ftsPage.totalSize}">total size</span>条
    </p>

    <a id="first-page">首页</a>
    <a id="previous-page">上一页</a>
    <a id="next-page">下一页</a>
    <a id="last-page">尾页</a>

    <form th:action="@{'/list'}" enctype="application/x-www-form-urlencoded">
        <input type="hidden" id="page-size" name="page-size" disabled="disabled" th:value="${ftsPage.pageSize}">
        <input type="hidden" name="path" th:value="${ftsPage.path}">
        <input type="text" size="2" id="page-no" name="pageNo" th:value="${ftsPage.currentPage}">
        <select name="pageSize" id="page-size-select">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
        </select>
        <input type="submit" value="跳转">
    </form>
    <script type="text/javascript">
        var URL_LIST = "/localfts/list";
        var URL_DOWNLOAD = "/localfts/downloadFile";
        var URL_UPLOAD = "/localfts/uploadFile";

        main();

        function main()
        {
            var ftsPagePath = document.getElementById("page-path").innerText;
            var ftsPageNo = Number(document.getElementById("page-no").value);
            var ftsPageSize = Number(document.getElementById("page-size").value);
            var ftsPageCurrentPage = Number(document.getElementById("current-page").innerText);
            var ftsPageCurrentSize = Number(document.getElementById("current-size").innerText);
            var ftsPageTotalPage = Number(document.getElementById("total-page").innerText);
            var ftsPageTotalSize = Number(document.getElementById("total-size").innerText);

            //deal with serverIpInfo in IE
            if(!document.getElementById('serverIpInfo').getAttribute("class")) {
                document.getElementById('serverIpInfoShowButton').onclick = function() {document.getElementById('serverIpInfo').setAttribute('className','show')};
                document.getElementById('serverIpInfoHideButton').onclick = function() {document.getElementById('serverIpInfo').setAttribute('className','hidden')};
            }


            //deal with up-path
            //   /->/   ;   /a->/   ;   /a/b->/a
            var upPath = ftsPagePath;
            var lastIdxOfSlash = upPath.lastIndexOf("/");
            if(lastIdxOfSlash == 0) {
                upPath = "/";
            } else {
                upPath = upPath.substring(0, lastIdxOfSlash);
            }
            upPath = concatUrlList(upPath, 1, ftsPageSize);
            document.getElementById("up-path").setAttribute("href", upPath);

            //deal with directory-path
            var directoryPaths = document.getElementsByName("directory-path");
            if(!directoryPaths) {
                directoryPaths = getElementsByName("directory-path");
            }
            for(var i=0;i<directoryPaths.length;i++) {
                directoryPaths[i].setAttribute("href", concatUrlList(ftsPagePath + ((ftsPagePath == "/") ? "" : "/") + directoryPaths[i].innerText, 1, ftsPageSize));
            }

            //deal with download-file
            var downloadFiles = document.getElementsByName("download-file");
            if(!downloadFiles) {
                downloadFiles = getElementsByName("download-file");
            }
            for(var i=0;i<downloadFiles.length;i++) {
                downloadFiles[i].setAttribute("href", concatUrlDownload(ftsPagePath + ((ftsPagePath == "/") ? "" : "/") + downloadFiles[i].innerText));
                downloadFiles[i].innerText = "下载文件";
            }

            //deal with upload-file
            var uploadFiles = document.getElementsByName("upload-file");
            if(!uploadFiles) {
                uploadFiles = getElementsByName("upload-file");
            }
            for(var i=0;i<uploadFiles.length;i++) {
                uploadFiles[i].setAttribute("href", concatUrlUpload(ftsPagePath + ((ftsPagePath == "/") ? "" : "/") + uploadFiles[i].innerText));
                uploadFiles[i].innerText = "上传文件";
            }

            //deal with first-page,previous-page,next-page,last-page
            var firstPageNo = 1;
            var lastPageNo = (ftsPageTotalPage == 0) ? 1 : ftsPageTotalPage;
            var previousPageNo = (ftsPageCurrentPage > 1) ? (ftsPageCurrentPage - 1) : 1;
            var nextPageNo = (ftsPageCurrentPage < lastPageNo) ? (ftsPageCurrentPage + 1) : lastPageNo;
            var firstPageUrl = concatUrlList(ftsPagePath, firstPageNo, ftsPageSize);
            var lastPageUrl = concatUrlList(ftsPagePath, lastPageNo, ftsPageSize);
            var previousPageUrl = concatUrlList(ftsPagePath, previousPageNo, ftsPageSize);
            var nextPageUrl = concatUrlList(ftsPagePath, nextPageNo, ftsPageSize);
            document.getElementById("first-page").setAttribute("href", firstPageUrl);
            document.getElementById("last-page").setAttribute("href", lastPageUrl);
            document.getElementById("previous-page").setAttribute("href", previousPageUrl);
            document.getElementById("next-page").setAttribute("href", nextPageUrl);

            //deal with page-size-select
            var tagSelectOptions = document.getElementById("page-size-select").children;
            var foundOption = false;
            for(var i=0;i<tagSelectOptions.length;i++) {
                if(tagSelectOptions[i].value == ftsPageSize) {
                    foundOption = true;
                    tagSelectOptions[i].setAttribute("selected", "selected");
                    break;
                }
            }
            if(!foundOption) {
                tagSelectOptions[0].setAttribute("selected", "selected");
            }
            
        }

        function concatUrlList(path, pageNo, pageSize) {
            return URL_LIST + "?path=" + encodeURIComponent(path) + "&pageNo=" + pageNo + "&pageSize=" + pageSize;
        }
        function concatUrlDownload(fileName) {
            return URL_DOWNLOAD + "?fileName=" + encodeURIComponent(fileName);
        }
        function concatUrlUpload(dirName) {
            return URL_UPLOAD + "?dirName=" + encodeURIComponent(dirName);
        }
        //for IE, not supporting document.getElementsByName
        function getElementsByName(tagName, name) {
            var collection = document.getElementsByTagName(tagName);
            var result = [];
            if(!collection) {
                var children = collection.children;
                for(var i=0;i<children.length;i++) {
                    if(children[i].getAttribute("name") == name) {
                        result[result.length] = children[i];
                    }
                }
            }
            return result;
        }
    </script>
</body>
</html>