<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="UTF-8">
    <title>局域网文件传输服务器 - 搜索文件</title>
    <link rel="stylesheet" th:href="${#request.contextPath} + '/static/common.css'">
</head>
<body>
    <h1>局域网文件传输服务器</h1><button id="serverIpInfoShowButton" type="button" onclick="showDialog('serverIpInfo')">服务器网络信息</button>&emsp;服务器时间：<span th:text="${serverTime}">server time</span>
    <br><br><a th:href="${#request.contextPath}">返回首页</a>
    <hr>
    <div id="serverIpInfo" class="hidden">
        <div class="dialogTitle">服务器网络信息</div>
        <table style="width:90%;margin-left:auto;margin-right:auto;text-align:center;">
            <thead>
            <tr>
                <th style="padding-left:2em;padding-right:2em">网卡显示名称</th>
                <th style="padding-left:2em;padding-right:2em">网卡名称</th>
                <th style="padding-left:2em;padding-right:2em">Ipv4地址</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item:${serverIpInfo.items}">
                <td th:text="${item.displayName}">displayName</td>
                <td th:text="${item.name}">name</td>
                <td th:text="${{item.addresses}}">addresses</td>
            </tr>
            </tbody>
        </table>
        <div style="padding-bottom:1em;padding-top:5em;"><button id="serverIpInfoHideButton" onclick="hideDialog('serverIpInfo')" style="display:block;margin-left:auto;margin-right:auto;text-align:center;font-size:1em;">确定</button></div>
    </div>
    <br>
    <form id="search-form" th:action="@{/search}" method="post" enctype="application/x-www-form-urlencoded" style="text-align: center">
        <label for="keyword" style="font-size: 30px">文件搜索</label><br><br>
        <input id="keyword" name="keyword" type="text" th:value="${keyword} == null ? '' : ${keyword}" style="width:80%; text-align:center"><br><br>
        <button id="switchAdvancedSearchButton" type="button" onclick="switchAdvancedSearch(this)">使用高级搜索</button>
        <button type="button" onclick="search()">搜索</button>
        <div id="dateTimeDialogDiv" class="hidden" style="text-align: center">
            <div class="dialogTitle">手动输入日期和时间</div>
            <p>格式：yyyy-MM-dd|yyyy-MM-dd HH:mm:ss。<br>
                省略时间时自动补全00:00:00。<br>
                示例：2026-01-01或2026-01-01 00:00:00
            </p>
            <h5 id="dateTimeCheckHint" style="display:none"></h5>
            <input type="text" class="inputDefault" id="dateTimeInput"><br><br>
            <button id="dateTimeConfirmButton" type="button">确认</button><button type="button" onclick="hideDateTimeDialog()">取消</button><br><br>
        </div>
        <div id="advanced-condition-div" style="display: none">
            <br>
            类型：
            <input type="radio" id="directoryRadio1" name="directory" value="true">
            <label for="directoryRadio1">文件夹</label>
            <input type="radio" id="directoryRadio2" name="directory" value="false">
            <label for="directoryRadio2">文件</label>
            <input type="radio" id="directoryRadio3" name="directory" value="" checked="checked">
            <label for="directoryRadio3">不限类型</label>
            <span class="inline" style="color:red; display:none" id="directory-msg"></span>
            <br>
            修改时间不早于：
            <input type="text" id="lastModifiedLower" name="lastModifiedLower" readonly="readonly" style="display: none; width: 10em">
            <button class="imgButton" type="button" id="lastModifiedLowerButton" onclick="showDateTimeDialog('lastModifiedLower')" style="display: none"><img alt="输入"></button>
            <input type="date" id="lastModifiedLowerDate">
            <input type="time" id="lastModifiedLowerTime" step="1">
            <span class="inline" style="color:red; display:none" id="lastModifiedLowerMsg"></span>
            <br>
            修改时间不晚于：
            <input type="text" id="lastModifiedUpper" name="lastModifiedUpper" readonly="readonly" style="display: none; width: 10em">
            <button class="imgButton" type="button" id="lastModifiedUpperButton" onclick="showDateTimeDialog('lastModifiedUpper')" style="display: none"><img alt="输入"></button>
            <input type="date" id="lastModifiedUpperDate">
            <input type="time" id="lastModifiedUpperTime" step="1">
            <span class="inline" style="color:red; display:none" id="lastModifiedUpperMsg"></span>
            <br>
            文件大小不低于：
            <input type="text" id="fileSizeLowerInput" name="fileSizeLower" style="display:none">
            <input type="text" id="fileSizeLowerLeftInput" style="width: 80px">
            <select id="fileSizeLowerSelect">
                <option>B</option>
                <option>KB</option>
                <option>MB</option>
                <option>GB</option>
                <option>TB</option>
            </select>
            <span class="inline" style="color:red; display:none" id="file-size-lower-msg"></span>
            <br>
            文件大小不高于：
            <input type="text" id="fileSizeUpperInput" name="fileSizeUpper" style="display:none">
            <input type="text" id="fileSizeUpperLeftInput" style="width:80px">
            <select id="fileSizeUpperSelect">
                <option>B</option>
                <option>KB</option>
                <option>MB</option>
                <option>GB</option>
                <option>TB</option>
            </select>
            <span class="inline" style="color:red; display:none" id="file-size-upper-msg"></span>
            <br>
            <input type="text" name="folderCompressStatus">
            <input type="text" name="compressedFileSizeLower">
            <input type="text" name="compressedFileSizeUpper">
            <br>
            压缩文件修改时间不晚于：
            <input type="text" id="compressedFileLastModifiedLower" name="compressedFileLastModifiedLower" readonly="readonly" style="display: none; width: 10em">
            <button class="imgButton" type="button" id="compressedFileLastModifiedLowerButton" onclick="showDateTimeDialog('compressedFileLastModifiedLower')" style="display: none"><img alt="输入"></button>
            <input type="date" id="compressedFileLastModifiedLowerDate">
            <input type="time" id="compressedFileLastModifiedLowerTime" step="1">
            <span class="inline" style="color:red; display:none" id="compressedFileLastModifiedLowerMsg"></span>
            <br>
            压缩文件修改时间不晚于：
            <input type="text" id="compressedFileLastModifiedUpper" name="compressedFileLastModifiedUpper" readonly="readonly" style="display: none; width: 10em">
            <button class="imgButton" type="button" id="compressedFileLastModifiedUpperButton" onclick="showDateTimeDialog('compressedFileLastModifiedUpper')" style="display: none"><img alt="输入"></button>
            <input type="date" id="compressedFileLastModifiedUpperDate">
            <input type="time" id="compressedFileLastModifiedUpperTime" step="1">
            <span class="inline" style="color:red; display:none" id="compressedFileLastModifiedUpperMsg"></span>
        </div>
    </form>
    <div id="result-div" th:if="${pageObject != null}">
        <hr>
        <table class="left-head-table" style="text-align:left;border-style:solid">
            <thead>
            <tr th:if="${zipEnabled}">
                <th style="width:40%">文件名
                    <a name="sort-link" th:attr="sort-column='FILENAME'"><img class="fontSizeImg"/></a>
                </th>
                <th th:if="${searchMode.name() == 'INDEXED' and indexFileContent}" style="width:10%">文件内容
                    <a name="sort-link" th:attr="sort-column='FILE_CONTENT'"><img class="fontSizeImg"/></a>
                </th>
                <th style="width:5%">类型
                    <a name="sort-link" th:attr="sort-column='TYPE'"><img class="fontSizeImg"/></a>
                </th>
                <th style="width:7%">大小
                    <a name="sort-link" th:attr="sort-column='SIZE'"><img class="fontSizeImg"/></a>
                </th>
                <th style="width:7%">修改时间
                    <a name="sort-link" th:attr="sort-column='LAST_MODIFIED'"><img class="fontSizeImg"/></a>
                </th>
                <th style="width:7%">文件夹压缩状态
                    <a name="sort-link" th:attr="sort-column='COMPRESS_STATUS'"><img class="fontSizeImg"/></a>
                </th>
                <th style="width:7%">压缩文件大小
                    <a name="sort-link" th:attr="sort-column='COMPRESS_FILE_SIZE'"><img class="fontSizeImg"/></a>
                </th>
                <th style="width:7%">压缩文件修改时间
                    <a name="sort-link" th:attr="sort-column='COMPRESS_FILE_LAST_MODIFIED'"><img class="fontSizeImg"/></a>
                </th>
                <th style="width:10%">操作</th>
            </tr>
            <tr th:if="${!zipEnabled}">
                <th style="width:50%">文件名
                    <a name="sort-link" th:attr="sort-column='FILENAME'"><img class="fontSizeImg"/></a>
                </th>
                <th th:if="${searchMode.name() == 'INDEXED' and indexFileContent}" style="width:10%">文件内容
                    <a name="sort-link" th:attr="sort-column='FILE_CONTENT'"><img class="fontSizeImg"/></a>
                </th>
                <th style="width:10%">类型
                    <a name="sort-link" th:attr="sort-column='TYPE'"><img class="fontSizeImg"/></a>
                </th>
                <th style="width:10%">大小
                    <a name="sort-link" th:attr="sort-column='SIZE'"><img class="fontSizeImg"/></a>
                </th>
                <th style="width:10%">修改时间
                    <a name="sort-link" th:attr="sort-column='LAST_MODIFIED'"><img class="fontSizeImg"/></a>
                </th>
                <th style="width:10%">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item:${pageObject.data}">
                <td th:if="${item.directory}"><a name="directory-path" th:text="${item.fileName}">directory name</a></td>
                <td th:if="${!item.directory}" th:text="${item.fileName}">fileName</td>

                <td th:if="${searchMode.name() == 'INDEXED' and indexFileContent and item.directory}">-</td>
                <td th:if="${searchMode.name() == 'INDEXED' and indexFileContent and !item.directory}" th:utext="${item.fileContent}">file content</td>

                <td th:if="${item.directory}">文件夹</td>
                <td th:if="${!item.directory}">文件</td>

                <td th:if="${item.directory}">-</td>
                <td th:if="${!item.directory}" th:text="${item.fileSizeStr}">0</td>

                <td th:text="${item.lastModifiedStr}">last modified</td>

                <td th:if="${zipEnabled and item.directory}" th:text="${item.compressStatus.desc}"></td>
                <td th:if="${zipEnabled and !item.directory}">-</td>

                <td th:if="${zipEnabled and item.directory and item.compressStatus.name() == 'COMPRESSED'}" th:text="${item.compressedFileSizeStr}"></td>
                <td th:if="${zipEnabled and (!item.directory or item.compressStatus.name() != 'COMPRESSED')}">-</td>

                <td th:if="${zipEnabled and item.directory and item.compressStatus.name() == 'COMPRESSED'}" th:text="${item.compressedFileLastModifiedStr}"></td>
                <td th:if="${zipEnabled and (!item.directory or item.compressStatus.name() != 'COMPRESSED')}">-</td>

                <td th:if="${item.directory}">
                    <a name="upload-file" th:text="${item.fileName}">上传文件</a>
                    <a th:if="${zipEnabled}" name="compress-folder" th:text="${item.fileName}">压缩管理</a>
                    <a th:if="${zipEnabled and item.compressStatus.name() == 'COMPRESSED'}" name="download-folder" th:text="${item.compressedPath}">下载文件夹(zip)</a>
                </td>
                <td th:if="${!item.directory}"><a name="download-file" th:text="${item.fileName}">下载文件</a></td>
            </tr>
            </tbody>
        </table>
        <br>

        <p>
            第<span id="current-page" th:text="${pageObject.currentPage}">page no</span>页 <span id="current-size" th:text="${pageObject.currentSize}">page size</span>条
            总<span id="total-page" th:text="${pageObject.totalPage}">total page</span>页 <span id="total-size" th:text="${pageObject.totalSize}">total size</span>条
        </p>

        <a id="first-page">首页</a>
        <a id="previous-page">上一页</a>
        <a id="next-page">下一页</a>
        <a id="last-page">尾页</a>

        <form th:action="@{'/search'}" method="post" enctype="application/x-www-form-urlencoded">
            <input type="hidden" name="keyword" th:value="${keyword}">
            <input type="hidden" id="page-size" name="page-size" disabled="disabled" th:value="${pageObject.pageSize}">
            <input type="hidden" name="sortColumn" th:if="${sortColumn != null}" th:value="${sortColumn.name()}">
            <input type="hidden" name="sortOrder" th:if="${sortOrder != null}" th:value="${sortOrder.name()}">
            <input type="hidden" name="directory" th:if="${advancedSearchCondition != null && advancedSearchCondition.directory != null}" th:value="${advancedSearchCondition.directory}">
            <input type="hidden" name="lastModifiedLower" th:if="${advancedSearchCondition != null && advancedSearchCondition.lastModifiedLower != null}" th:value="${advancedSearchCondition.lastModifiedLower}">
            <input type="hidden" name="lastModifiedUpper" th:if="${advancedSearchCondition != null && advancedSearchCondition.lastModifiedUpper != null}" th:value="${advancedSearchCondition.lastModifiedUpper}">
            <input type="hidden" name="compressedFileLastModifiedLower" th:if="${advancedSearchCondition != null && advancedSearchCondition.compressedFileLastModifiedLower != null}" th:value="${advancedSearchCondition.compressedFileLastModifiedLower}">
            <input type="hidden" name="compressedFileLastModifiedUpper" th:if="${advancedSearchCondition != null && advancedSearchCondition.compressedFileLastModifiedUpper != null}" th:value="${advancedSearchCondition.compressedFileLastModifiedUpper}">
            <label for="page-no">页数:</label>
            <input type="text" size="2" id="page-no" name="pageNo" th:value="${pageObject.currentPage}">
            <label for="page-size-select">每页数量:</label>
            <select name="pageSize" id="page-size-select">
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="50">50</option>
            </select>
            <input type="submit" value="跳转">
        </form>
    </div>
    <script th:src="${#request.contextPath} + '/static/common.js'"></script>
    <script th:src="${#request.contextPath} + '/static/dialog.js'"></script>
    <script type="text/javascript" th:inline="javascript">
        var contextPath = [[${#request.contextPath}]];
        var ieVersion = getIEVersion();
        var CHECK_PASSED = '校验通过' + (ieVersion && ieVersion < 9 ? '√' : '✔');
        var advancedSearchCondition = [[${advancedSearchCondition}]];
        var keyword = [[${keyword}]];
        var dateAndTimeInputSupported = isDateAndTimeInputSupported();
        var dateTimeInputIds = ['lastModifiedLower', 'lastModifiedUpper', 'compressedFileLastModifiedLower', 'compressedFileLastModifiedUpper'];
        if(!dateAndTimeInputSupported) {
            //日期时间input不支持的情况下移除相关元素并启用对话框式输入
            for(var i=0;i<dateTimeInputIds.length;i++) {
                var inputId = dateTimeInputIds[i];
                var dateInputId = inputId + 'Date', timeInputId = inputId + 'Time',
                    buttonId = inputId + 'Button';
                removeElementById(dateInputId, 'advanced-condition-div');
                removeElementById(timeInputId, 'advanced-condition-div');
                document.getElementById(inputId).style.display = '';
                document.getElementById(buttonId).style.display = '';
            }
        }
        var advancedSearchSwitch = advancedSearchCondition === null ? false : !advancedSearchCondition.empty;
        if(keyword && keyword.trim() !== '' && advancedSearchSwitch) {
            //初始化高级搜索条件的选中状态和值等
            if(advancedSearchCondition.directory !== null) {
                var directoryRadios = getElementsByName('input', 'directory');
                for(var i=0;i<directoryRadios.length;i++) {
                    if(advancedSearchCondition.directory + '' === directoryRadios[i].value) {
                        directoryRadios[i].checked = true;
                    } else {
                        directoryRadios[i].checked = false;
                    }
                }
            }
            for(var i=0;i<dateTimeInputIds.length;i++) {
                var inputId = dateTimeInputIds[i];
                if(advancedSearchCondition[inputId] !== null) {
                    var dateInputId = inputId + 'Date', timeInputId = inputId + 'Time';
                    var dateObject = new Date(advancedSearchCondition[inputId].replace(/-/g, '/'));
                    var formattedDateStr = formatDateDateStr(dateObject);
                    var formattedTimeStr = formatDateTimeStr(dateObject);
                    if(dateAndTimeInputSupported) {
                        document.getElementById(dateInputId).value = formattedDateStr;
                        document.getElementById(timeInputId).value = formattedTimeStr;
                    } else {
                        document.getElementById(inputId).value = formattedDateStr + ' ' + formattedTimeStr;
                    }
                }
            }
            switchAdvancedSearch(document.getElementById('switchAdvancedSearchButton'), true);
        }

        //deal with date time keyboard buttons
        var keyboardButtonIds = [];
        for(var i=0;i<dateTimeInputIds.length;i++) {
            var inputId = dateTimeInputIds[i];
            var buttonId = inputId + 'Button';
            keyboardButtonIds[keyboardButtonIds.length] = buttonId;
        }
        if(dateAndTimeInputSupported) {
            for(var i=0;i<keyboardButtonIds.length;i++) {
                removeElementById(keyboardButtonIds[i], 'advanced-condition-div');
            }
        } else {
            var keyboardIconSrc = contextPath + '/static/icon/keyboard_black_32px';
            if(ieVersion && ieVersion < 8) {
                keyboardIconSrc = keyboardIconSrc + '_png8';
            }
            keyboardIconSrc = keyboardIconSrc + '.png';
            for(var i=0;i<keyboardButtonIds.length;i++) {
                var keyboardButton = document.getElementById(keyboardButtonIds[i]);
                var keyboardButtonChildren = keyboardButton.children;
                if(keyboardButtonChildren && keyboardButtonChildren.length > 0) {
                    var firstChild = keyboardButtonChildren[0];
                    if(firstChild.tagName.toLowerCase() === 'img') {
                        firstChild.setAttribute('src', keyboardIconSrc);
                    }
                }
            }
        }

        function switchAdvancedSearch(button,showAdvancedSearch) {
            if(showAdvancedSearch !== undefined) {
                advancedSearchSwitch = showAdvancedSearch;
            } else {
                advancedSearchSwitch = !advancedSearchSwitch;
            }
            if(advancedSearchSwitch) {
                document.getElementById('advanced-condition-div').style.display = 'block';
                button.innerText = '不使用高级搜索';
            } else {
                document.getElementById('advanced-condition-div').style.display = 'none';
                button.innerText = '使用高级搜索';
            }
        }
        function search() {
            var hasError = false;
            if(advancedSearchSwitch) {
                //检查高级搜索参数
                var directory = getCheckedValue('directory');
                if(directory !== 'true' && directory !== 'false' && directory !== '') {
                    hasError = true;
                    var msg = '类型字段' + (directory === null ? '没有选中值' : '选中了非法的值');
                    updateMsg('directory-msg', msg, 'red');
                } else {
                    updateMsg('directory-msg', CHECK_PASSED, 'green');
                }
                if(dateAndTimeInputSupported) {
                    //由浏览器直接渲染日期时间组件的情况
                    for(var i=0;i<dateTimeInputIds.length;i++) {
                        var inputId = dateTimeInputIds[i];
                        var dateInputId = inputId + 'Date', timeInputId = inputId + 'Time',
                            msgId = inputId + 'Msg';
                        var dateInputValue = document.getElementById(dateInputId).value === null ? '' :
                            document.getElementById(dateInputId).value.replace(/[.\/]/g,'-');
                        var timeInputValue = formatTimeInputTimeStr(document.getElementById(timeInputId));
                        if(dateInputValue !== '' || timeInputValue !== '') {
                            if(dateInputValue === '') {
                                hasError = true;
                                updateMsg(msgId, '请输入日期', 'red');
                            } else if(timeInputValue === '') {
                                hasError = true;
                                updateMsg(msgId, '请输入时间', 'red');
                            } else {
                                document.getElementById(inputId).value = dateInputValue + ' ' + timeInputValue;
                                updateMsg(msgId, CHECK_PASSED, 'green');
                            }
                        } else {
                            document.getElementById(inputId).disabled = true;
                        }
                    }
                } else {
                    //通过对话框手动输入日期时间的情况
                    for(var i=0;i<dateTimeInputIds.length;i++) {
                        var inputId = dateTimeInputIds[i];
                        var msgId = inputId + 'Msg';
                        var input = document.getElementById(inputId);
                        var inputValue = input.value;
                        if(inputValue === '') {
                            input.disabled = 'disabled';
                        } else {
                            var isValid = isValidDateTime(inputValue);
                            if(isValid) {
                                updateMsg(msgId, CHECK_PASSED, 'green');
                            } else {
                                hasError = true;
                                updateMsg(msgId, '日期时间格式错误', 'green');
                            }
                        }
                    }
                }
            }
            if(!hasError) {
                if(!advancedSearchSwitch) {
                    var ascChildren = document.getElementById('advanced-condition-div').children;
                    for(var i=0;i<ascChildren.length;i++) {
                        ascChildren[i].disabled = 'disabled';
                    }
                }
                document.getElementById('search-form').submit();
            }
        }
        function setDateTime(id,msgId) {
            var targetInput = document.getElementById(id);
            if(!targetInput) {
                updateMsg('dateTimeCheckHint', "指定的input元素id无效", 'red');
                return;
            }
            var sourceInput = document.getElementById('dateTimeInput');
            if(!sourceInput) {
                updateMsg('dateTimeCheckHint', "无法获取输入值", 'red');
                return;
            }
            var isValid = isValidDateTime(sourceInput.value, 'yyyy-MM-dd');
            var isDate = isValid;
            if(!isValid) {
                isValid = isValidDateTime(sourceInput.value, 'yyyy-MM-dd HH:mm:ss');
            }
            if(!isValid) {
                updateMsg('dateTimeCheckHint', "日期时间格式错误", 'red');
                return;
            }
            if(isDate) {
                var newValue = sourceInput.value + ' 00:00:00';
                targetInput.value = newValue;
                sourceInput.value = newValue;
            } else {
                targetInput.value = sourceInput.value;
            }
            updateMsg('dateTimeCheckHint', CHECK_PASSED, 'green');
            updateMsg(msgId, CHECK_PASSED, 'green');
            hideDateTimeDialog();
        }
        function showDateTimeDialog(id, format) {
            document.getElementById('dateTimeCheckHint').style.display = 'none';
            document.getElementById('dateTimeConfirmButton').onclick = function () {
                setDateTime(id, id+'Msg');
            };
            var input = document.getElementById(id);
            if(input && input.tagName.toLowerCase() === 'input') {
                var value = input.value;
                document.getElementById('dateTimeInput').value = value;
            }
            showDialog('dateTimeDialogDiv');
        }
        function hideDateTimeDialog() {
            hideDialog('dateTimeDialogDiv');
        }
    </script>
    <script type="text/javascript" th:inline="javascript" th:if="${pageObject != null}">
        var ftsPageSize = Number(document.getElementById("page-size").value);
        var sortColumn = [[${sortColumn}]];
        var sortOrder = [[${sortOrder}]];
        var keyword = [[${keyword}]];
        var URL_LIST = concatUrlForConstant(contextPath, '/list');
        var URL_DOWNLOAD = concatUrlForConstant(contextPath, '/downloadFile');
        var URL_UPLOAD = concatUrlForConstant(contextPath, '/uploadFile');
        var URL_SEARCH = concatUrlForConstant(contextPath, '/search');

        if(sortColumn === null) {
            sortColumn = undefined;
            sortOrder = undefined;
        }

        main();

        function main()
        {
            var ftsPageNo = Number(document.getElementById("page-no").value);
            var ftsPageCurrentPage = Number(document.getElementById("current-page").innerText);
            var ftsPageCurrentSize = Number(document.getElementById("current-size").innerText);
            var ftsPageTotalPage = Number(document.getElementById("total-page").innerText);
            var ftsPageTotalSize = Number(document.getElementById("total-size").innerText);

            //deal with directory-path
            var directoryPaths = document.getElementsByName("directory-path");
            if(!directoryPaths) {
                directoryPaths = getElementsByName("a", "directory-path");
            }
            for(var i=0;i<directoryPaths.length;i++) {
                directoryPaths[i].setAttribute("href", concatUrlList(ftsPagePath + ((ftsPagePath == "/") ? "" : "/") + directoryPaths[i].innerText, 1, ftsPageSize));
            }

            //deal with download-file
            var downloadFiles = document.getElementsByName("download-file");
            if(!downloadFiles) {
                downloadFiles = getElementsByName("a", "download-file");
            }
            for(var i=0;i<downloadFiles.length;i++) {
                downloadFiles[i].setAttribute("href", concatUrlDownload(ftsPagePath + ((ftsPagePath == "/") ? "" : "/") + downloadFiles[i].innerText));
                downloadFiles[i].innerText = "下载文件";
            }

            //deal with upload-file
            var uploadFiles = document.getElementsByName("upload-file");
            if(!uploadFiles) {
                uploadFiles = getElementsByName("a", "upload-file");
            }
            for(var i=0;i<uploadFiles.length;i++) {
                uploadFiles[i].setAttribute("href", concatUrlUpload(ftsPagePath + ((ftsPagePath == "/") ? "" : "/") + uploadFiles[i].innerText));
                uploadFiles[i].innerText = "上传文件";
            }

            //deal with sort-link
            var sortLinks = document.getElementsByName("sort-link");
            if(!sortLinks) {
                sortLinks = getElementsByName("a", "sort-link");
            }
            for(var i=0;i<sortLinks.length;i++) {
                var eSortColumn = sortLinks[i].getAttribute('sort-column');
                var eSortOrder = null, imgSrc = null;
                if(sortColumn === null || sortColumn !== eSortColumn) {
                    eSortOrder = 'ASC';
                    imgSrc = contextPath + '/static/icon/sort_32px_black';
                } else if(sortColumn !== null && sortOrder === 'ASC') {
                    eSortOrder = 'DESC';
                    imgSrc = contextPath + '/static/icon/sort_asc_32px_black';
                } else if(sortColumn !== null && sortOrder === 'DESC') {
                    eSortColumn = undefined;
                    eSortOrder = undefined;
                    imgSrc = contextPath + '/static/icon/sort_desc_32px_black';
                } else {
                    if(window.console) {
                        console.error('非法状态，sortColumn=' + sortColumn + ',sortOrder=' + sortOrder);
                    }
                    eSortColumn = undefined;
                    eSortOrder = undefined;
                }
                if(imgSrc) {
                    if(ieVersion && ieVersion < 8) {
                        imgSrc = imgSrc + '_png8';
                    }
                    imgSrc = imgSrc + '.png';
                    //sortLinks[i].children[0].setAttribute('src', imgSrc);
                    var sortLinkChildren = sortLinks[i].children;
                    if(sortLinkChildren) {
                        for(var j=0;j<sortLinkChildren.length;j++) {
                            var sortLinkChild = sortLinkChildren[j];
                            if(sortLinkChild.tagName.toLowerCase() === 'img') {
                                sortLinkChild.setAttribute('src', imgSrc);
                            }
                        }
                    }
                }
                var url = concatUrlSearch(keyword, undefined, ftsPageSize, eSortColumn, eSortOrder);
                sortLinks[i].setAttribute('href', url);
            }

            //deal with first-page,previous-page,next-page,last-page
            var firstPageNo = 1;
            var lastPageNo = (ftsPageTotalPage == 0) ? 1 : ftsPageTotalPage;
            var previousPageNo = (ftsPageCurrentPage > 1) ? (ftsPageCurrentPage - 1) : 1;
            var nextPageNo = (ftsPageCurrentPage < lastPageNo) ? (ftsPageCurrentPage + 1) : lastPageNo;
            var firstPageUrl = concatUrlSearch(keyword, firstPageNo, ftsPageSize, sortColumn, sortOrder);
            var lastPageUrl = concatUrlSearch(keyword, lastPageNo, ftsPageSize, sortColumn, sortOrder);
            var previousPageUrl = concatUrlSearch(keyword, previousPageNo, ftsPageSize, sortColumn, sortOrder);
            var nextPageUrl = concatUrlSearch(keyword, nextPageNo, ftsPageSize, sortColumn, sortOrder);
            document.getElementById("first-page").setAttribute("href", firstPageUrl);
            document.getElementById("last-page").setAttribute("href", lastPageUrl);
            document.getElementById("previous-page").setAttribute("href", previousPageUrl);
            document.getElementById("next-page").setAttribute("href", nextPageUrl);

            //deal with page-size-select
            var tagSelectOptions = document.getElementById("page-size-select").children;
            var foundOption = false;
            for(var i=0;i<tagSelectOptions.length;i++) {
                if(tagSelectOptions[i].value == ftsPageSize) {
                    foundOption = true;
                    //tagSelectOptions[i].setAttribute("selected", "selected");
                    //tagSelectOptions[i].selected = true;
                    setOptionSelected(tagSelectOptions[i]);
                    break;
                }
            }
            //alert('foundOption='+foundOption);
            if(!foundOption) {
                //tagSelectOptions[0].setAttribute("selected", "selected");
                //tagSelectOptions[0].selected = true;
                setOptionSelected(tagSelectOptions[0]);
            }
            
        }

        function setOptionSelected(option) {
            if (window.navigator.userAgent.indexOf("MSIE 6.0") > -1) {
                option.setAttribute("selected", "selected");
            } else {
                option.selected = true;
            }
        }

        function concatUrlForConstant(contextPath, path) {
            return contextPath + path;
        }

        function concatUrlList(path, pageNo, pageSize, sortColumn, sortOrder) {
            //return URL_LIST + "?path=" + encodeURIComponent(path) + "&pageNo=" + pageNo + "&pageSize=" + pageSize;
            var result = URL_LIST + "?path=" + encodeURIComponent(path);
            if(pageNo !== undefined) {
                result = result + "&pageNo=" + pageNo;
            }
            if(pageSize !== undefined) {
                result = result + "&pageSize=" + pageSize;
            }
            if(sortColumn !== undefined) {
                result = result + "&sortColumn=" + sortColumn;
            }
            if(sortOrder !== undefined) {
                result = result + "&sortOrder=" + sortOrder;
            }
            return result;
        }
        function concatUrlSearch(keyword, pageNo, pageSize, sortColumn, sortOrder) {
            var result = URL_SEARCH + "?keyword=" + encodeURIComponent(keyword);
            if(pageNo !== undefined) {
                result = result + "&pageNo=" + pageNo;
            }
            if(pageSize !== undefined) {
                result = result + "&pageSize=" + pageSize;
            }
            if(sortColumn !== undefined) {
                result = result + "&sortColumn=" + sortColumn;
            }
            if(sortOrder !== undefined) {
                result = result + "&sortOrder=" + sortOrder;
            }
            return result;
        }
        function concatUrlDownload(fileName) {
            return URL_DOWNLOAD + "?fileName=" + encodeURIComponent(fileName);
        }
        function concatUrlUpload(dirName) {
            return URL_UPLOAD + "?dirName=" + encodeURIComponent(dirName);
        }
        //for IE, not supporting document.getElementsByName
        function getElementsByName(tagName, name) {
            var collection = document.getElementsByTagName(tagName);
            var result = [];
            if(collection) {
                for(var i=0;i<collection.length;i++) {
                    if(collection[i].getAttribute("name") == name) {
                        result[result.length] = collection[i];
                    }
                }
            }
            return result;
        }
    </script>
    <script type="text/javascript" th:if="${pageObject != null and zipEnabled}">
        var URL_COMPRESS_FOLDER = concatUrlForConstant(contextPath, '/compressFolder');

        //deal with compress-folder
        var compressFolders = document.getElementsByName("compress-folder");
        if(!compressFolders) {
            compressFolders = getElementsByName("a", "compress-folder");
        }
        for(var i=0;i<compressFolders.length;i++) {
            compressFolders[i].setAttribute("href", concatUrlCompressFolder(ftsPagePath + ((ftsPagePath == "/") ? "" : "/") + compressFolders[i].innerText));
            compressFolders[i].innerText = "压缩管理";
        }

        //deal with download-folder
        var downloadFolders = document.getElementsByName("download-folder");
        if(!downloadFolders) {
            downloadFolders = getElementsByName("a", "download-folder");
        }
        if(downloadFolders) {
            for(var i=0;i<downloadFolders.length;i++) {
                downloadFolders[i].setAttribute("href", concatUrlDownload(downloadFolders[i].innerText));
                downloadFolders[i].innerText = "下载文件夹(zip)";
            }
        }

        function concatUrlCompressFolder(dirName) {
            return URL_COMPRESS_FOLDER + "?path=" + encodeURIComponent(dirName);
        }
    </script>
</body>
</html>