.hidden {
    display:none;
}
.show {
    width:70%;height:auto;margin:5em 15% auto 15%;
    background-color:white;
    border-style:solid;border-width:0.05em;
}
table,th,td {
    border-style:solid;
    border-collapse:collapse;
    border-color:black;
}
table {
    border-width:0.1em;
}
th,td {
    border-width:0.05em;
}
.left-head-table th {
    text-align: left
}